.colorPicker {
  background: white;
  position: absolute;
  border-radius: 7px;
  top: calc(var(--letter-box-width) + var(--letter-box-border));
  left: -25px;
  z-index: 1000;
  display: flex;
  padding: 10px;
}

.clearColorButton, .yellowColorButton, .greenColorButton {
  width: 50px;
  height: 50px;
  border-radius: 0;
  margin: 5px;
}

.clearColorButton {
  background-color: transparent;
  border: 2px black dotted;
}

.yellowColorButton {
  background-color: var(--wordle-yellow-color);
}

.greenColorButton {
  background-color: var(--wordle-green-color);
}