.nextGuessesContainer {
  height: 100%;
  min-width: 300px;
  padding: 10px;
  background-color: rgb(29, 29, 29);
}

.nextGuesses {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: fit-content;
  justify-content: center;
}

.nextGuess {
  background-color: rgb(255, 255, 255);
  color: black;
  text-transform: uppercase;
  margin: 2px;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
}