.letterBox {
  width: var(--letter-box-width);
  height: var(--letter-box-width);
  margin: var(--letter-box-margin);
  border: var(--letter-box-border) solid #ffffff;
  border-radius: 7px;
  align-content: center;
  justify-content: center;
  position: relative;
}

.letterInput {
  width: 90%;
  height: 90%;
  font-size: 50px;
  background-color: transparent;
  border: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  caret-color: transparent;
}

.yellow {
  background-color: var(--wordle-yellow-color);
}

.green {
  background-color: var(--wordle-green-color);
}

.textarea:focus, input:focus {
  background-color: rgba(89, 89, 89, 0.4);
  outline: none;
}